{# Краткий итог в текстовой части. Нормативная форма 2 формируется отдельным
   листом А3 и добавляется приложением к ПЗ. #}
{% set ns = namespace(water=0, sewer=0, losses=0) %}
{% for r in balance.rows %}
  {% set ns.water = ns.water + r.total_m3_day %}
  {% set ns.sewer = ns.sewer + r.sewage_domestic_m3_day + r.sewage_clean_m3_day + r.sewage_mechanical_m3_day + r.sewage_chemical_m3_day %}
  {% set ns.losses = ns.losses + r.losses_m3_day %}
{% endfor %}
<table class="data balance-summary">
  <tr><th>Показатель</th><th>м³/сут</th></tr>
  <tr><td>Водопотребление по объекту</td><td>{{ ns.water|num(3) }}</td></tr>
  <tr><td>Водоотведение по объекту</td><td>{{ ns.sewer|num(3) }}</td></tr>
  <tr><td>Безвозвратные потери</td><td>{{ ns.losses|num(3) }}</td></tr>
</table>
<p class="subitem">Баланс водопотребления и водоотведения по форме 2
приложения А ГОСТ Р 21.619-2023 приведён отдельным листом в приложении к
настоящей пояснительной записке.</p>
