{% if normative.sp253_applicable %}
<p class="subitem">Объект относится к высотным зданиям в области применения
СП 253.1325800.2016. Системы В1 и В2 предусматриваются раздельными (п. 10.3).
Для трубопроводов принята теплоизоляция по расчёту, но не менее 10 мм для ХВС
и 25 мм для ГВС и циркуляционных трубопроводов (п. 10.15). Насосные установки
предусматриваются заводского исполнения со 100%-ным резервированием, регулируемым
(частотным) приводом и диспетчеризацией с ручным, дистанционным и автоматическим
управлением (пп. 10.23, 10.25, 10.27).</p>
{% endif %}
{% if normative.apartment_hose_tap_required %}
<p class="subitem">На сети В1 в каждой квартире предусматривается отдельный кран
диаметром не менее 15 мм со шлангом и распылителем. Длина шланга должна обеспечивать
подачу воды в любую точку квартиры (СП 54.13330.2022, п. 6.2.4.3). Это первичное
внутриквартирное устройство не является системой В2 и предусматривается независимо
от необходимости внутреннего противопожарного водопровода по СП 10.</p>
{% endif %}
{% if normative.separate_owner_metering_required %}
<p class="subitem">Для {{ meters.owner_groups_count }} групп помещений разных
собственников предусматриваются автономные узлы учёта холодной и горячей воды
(СП 118.13330.2022, п. 8.24). Диаметры счётчиков определяются по расходам каждой
группы после получения границ балансовой принадлежности.</p>
{% endif %}
